
@model AccountViewModel

<div>
    <header>
        <h1>Ask Politely how much they would like to deposit in their Account!!</h1>
    </header>

    <main>
        <form method="post" action="~/Account/DepositFunds/AccountDetails">

            <input type="hidden" name="AccountID" value="@Model.CurrentAccount.AccountID" />

            <div class="mb-3">
                <label for="DepositAmount" class="form-label">Deposit Amount</label>
                <input type="number" id="DepositAmount" name="DepositAmount" class="form-control">
            </div>
            
            <div>
                <button type="submit" class="btn btn-primary">Click me!</button>
            </div>
        </form>
    </main>
</div>
