@model AccountViewModel
<div>

    <h1>
        Ask Politely how much they would like to withdraw from their Account!!
    </h1>
    <form method="post" action="~/Account/WithDrawnFunds">

        <input type="hidden" name="AccountID" value="@Model.CurrentAccount.AccountID" />
        <div class="mb-3">
            <label for="WithdrawAmount" class="form-label">Withdraw Amount</label>
            <input type="number" class="" name="WithdrawAmount">
        </div>
        <div>
            <button class=" btn btn-primary" type="submit">Save! </button>
        </div>

    </form>

</div>
         
