@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">WELCOME TO Atrium ! Please Read carefully !</h1>

        <h3>SELECT AN OPTION:</h3>
        <div class="optionList">
            <div class="optionItem"><a href="~/Account/Index">Manage Accounts</a></div>
        </div>


    </div>
                
